
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
input .form-control{
    width: 80%;
} */

#box{
    width: 500px; 
    height: 200px; 
    background: #f4f4f4;
    text-align: center;
}